body {
  margin: 0;
}

#app {
  position: fixed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #f7d29f;
  height: 100vh;
  background: linear-gradient(-10deg, #301300, 20%, #050010);
  width: 100%;
}

.screen {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notebook {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  max-width: 800px;
  min-width: 230px;
  margin: 20px 0;
  align-items: center;
}

.title {
  font-weight: lighter;
  background: linear-gradient(#f7d29f, 65%, #e16a2a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.notebookId {
}

a {
  color: #e16a2a;
}

a:hover {
  color: #ffd666;
}